/* Import fonts */


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F8F9F9;
  font-family: 'Source Sans Pro', sans-serif;
}

p,span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h5 {
  font-weight: 600;
  font-size: 22px;
  color: #212E31
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #F24C40
}

textarea {
    resize: none;
}

p.italic {
  font-style: italic;
  color: #909698
}

/* Row vertical spacers */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top60 { margin-top:60px; }
.top80 { margin-top:80px; }
.top110 { margin-top:110px; }
.left10 { margin-left: 10px;}

.center {  
  text-align: center;
  margin: 0px auto;
}

.orange {
  color: #F24C40
}

.aleft {
  text-align: left
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Sidebar for custom nav */
.sidenav {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  width: 240px;
  background: #E8EAEA
}

.menu-head {
  background: #D3D5D6;
  height: 100%;
  width: 100%;
}

.menu-nav {
  margin-bottom: 40px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 50px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.grab {
  cursor: grab;
}

/* Start of entry grid's classes */

.grid-row {
  background: blue;
}

.grid-col {
  margin: 10px;
  height: 300px;
}

.grid-flex {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.drag-cell {
  height: 100%;
  width: 100%;
  background: red;
  padding: 10px;
  cursor: move
}

.grid-pic {
  height: 125px;
  background: gray
}

.drop-box {
  height: 70px;
  width: 100%;
  border: 1px dashed black;
  text-align: center
}

.entry-thumb {
  height: 40px;
  max-width: 100%;
}

.add-button {
  min-height: 500px
}

/* Top of the side-nav */

#menu-sidebar {
  width: 100%;
  min-height: 425px;
  border-bottom: solid #000000;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    top: 0;
    left: 300px;
    max-width: 830px;
    width: 70%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Login Style */
.form-login {
  max-width: 550px;
  margin: 100px auto 0;
  margin-bottom: 100px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-long {
  height: 120px;

}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background: #000;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.login-wrap .form-control {
  border-color: #000;
  background: #fff;
  color: #000;
}


.login-wrap .input-group .input-group-addon {
  border-color: #000;
  color: #000;
  background: #fff;
  
}

.login-wrap .checkbox {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  
}

.login-wrap .checkbox .btn {
  background: #000;
  width: 100px;
  color: #fff;
}

.login-wrap {
  padding: 20px;
  background: #E0E0E0;
  color: #000;
}

.login-wrap .registration {
  text-align: center;
}

.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Add Section style */

.template-cell {
  height: 300px;
  width: 190px;
  border: 1px solid black;
  cursor: pointer;
}

.temp-header{
  height: 40px;
  width: 100%;
  background: black;
  color: #F8F9F9;
  text-align: center;
  padding-top: 7px
}

.temp-desc {
  margin: 20px;
  height: 100px;
  border-bottom: 1px solid black;
  font-size: 12px
}

.tempactive {
  background-color:rgba(0,0,0,0.1);
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.temp-ex {
  margin: 20px;
}

.smallp {
  font-size: 12px;
}

.xsmallp {
  font-size: 10px;
}

.btn-custom {
  background-color: hsl(4, 84%, 55%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef5b51", endColorstr="#ec382b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ef5b51), to(#ec382b));
  background-image: -moz-linear-gradient(top, #ef5b51, #ec382b);
  background-image: -ms-linear-gradient(top, #ef5b51, #ec382b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef5b51), color-stop(100%, #ec382b));
  background-image: -webkit-linear-gradient(top, #ef5b51, #ec382b);
  background-image: -o-linear-gradient(top, #ef5b51, #ec382b);
  background-image: linear-gradient(#ef5b51, #ec382b);
  border-color: #ec382b #ec382b hsl(4, 84%, 53%);
  font-size: 24px;
  font-weight: 600;
  height: 60px;
  color: #FFFFFF !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 40px
}

.btn-black {
  background-color: hsl(0, 0%, 14%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#898989", endColorstr="#232323");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#898989), to(#232323));
  background-image: -moz-linear-gradient(top, #898989, #232323);
  background-image: -ms-linear-gradient(top, #898989, #232323);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #898989), color-stop(100%, #232323));
  background-image: -webkit-linear-gradient(top, #898989, #232323);
  background-image: -o-linear-gradient(top, #898989, #232323);
  background-image: linear-gradient(#898989, #232323);
  border-color: #232323 #232323 hsl(0, 0%, 4%);
   color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

.add-btn {
  color: #F24C40;
  font-family: 'Source Sans Pro', sans-serif
}

.alert-box {
  margin-left: 20px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F4F4F4
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*  Responsive: Phones */;
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
