/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Row vertical spacers */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top80 { margin-top:80px; }
.top110 { margin-top:110px; }

.center {  
  text-align: center;
  margin: 0px auto;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* Sidebar for custom nav */
.sidenav {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #eeeeee
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 50px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.grab {
  cursor: grab;
}

/* Start of entry grid's classes */

.grid-row {
  background: blue;
}

.grid-col {
  margin: 10px;
  height: 300px;
}
.drag-cell {
  height: 100%;
  width: 100%;
  background: red;
  padding: 10px
}

.grid-pic {
  height: 125px;
  background: gray
}

/* Top of the side-nav */

#menu-sidebar {
  width: 100%;
  min-height: 425px;
  border-bottom: solid #000000;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 300px;
    max-width: 830px;
    width: 70%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.member-login {
    positon: left;
}

/* Login Style */
.form-login {
  max-width: 550px;
  margin: 100px auto 0;
  margin-bottom: 100px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background: #000;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.login-wrap .form-control {
  border-color: #000;
  background: #fff;
  color: #000;
}


.login-wrap .input-group .input-group-addon {
  border-color: #000;
  color: #000;
  background: #fff;
  
}

.login-wrap .checkbox {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  
}

.login-wrap .checkbox .btn {
  background: #000;
  width: 100px;
  color: #fff;
}

.login-wrap {
  padding: 20px;
  background: #E0E0E0;
  color: #000;
}

.login-wrap .registration {
  text-align: center;
}

.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Add Section style */

.template-cell {
  height: 300px;
  width: 190px;
  border: 1px solid black;
  cursor: pointer;
}

.temp-header{
  height: 40px;
  width: 100%;
  background: gray
}

.temp-desc {
  margin: 20px;
  height: 100px;
  border-bottom: 1px solid black;
  font-size: 12px
}

.tempactive {
  background-color:rgba(0,0,0,0.1);
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.temp-ex {
  margin: 20px;
}

.smallp {
  font-size: 12px;
}

.xsmallp {
  font-size: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*  Responsive: Phones */;
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
