<h3>New Company</h3>
<div class="top60">
   <h5>Company Name</h5>
   <input type="text" class="form-control left10" ng-model="name" autofocus>
   <h5>Website URL</h5>
   <input type="text" class="form-control left10" ng-model="url">
   <h5>Street Address</h5>
   <input type="text" class="form-control left10" ng-model="address">

   <div class="row left 10">
      <h5 class="col-md-4">City</h5>
      <div class="col-md-1"></div>
      <h5 class="col-md-3">State</h5>
      <div class="col-md-1"></div>
      <h5 class="col-md-2">Zipcode</h5>

      <input type="text" class="left10 col-md-4" ng-model="city">
      <div class="col-md-1"></div>
      <input type="text" class=" col-md-3" ng-model="state">
      <div class="col-md-1"></div>
      <input type="text" class=" col-md-2" ng-model="zip">
   </div>
   <h5>Contact Name</h5>
   <input type="text" class="form-control left10" ng-model="contact">
   <h5>Menu URL</h5>
   <input type="text" class="form-control left10" ng-model="menuUrl">
   <div class="btn btn-black top30" ng-click="createCompany()">Create Company</div>
</div>