<div ng-show="!addStarted">
   <h1>
      Let's Get Started!
   </h1>
   <div class="btn btn-success" ng-click="addStarted=true">
      Add New Menu
   </div>
</div>
<div class ="row">
   <div class="col-md-2"></div>
   <div ng-show="addStarted" class="center col-md-8">
      <div class="top60">
         <h5 class="aleft">Menu title</h5>
         <input type="text" class="form-control left10" ng-model="title" autofocus>
      </div>
      <div class="top60">
         <h5 class="aleft">Description</h5>
         <textarea type="text" class="form-control form-long left10" ng-model="description" rows="5"></textarea>
      </div>
      <div class="top60">
         <h5 class="aleft">Menu Footer</h5>
         <p class="italic aleft">This will appear at the bottom of the menu. Include information on gratuity, warnings or general notes on the menu</p>
         <textarea type="text" class="form-control form-long left10" ng-model="footer" rows="5"></textarea>
      </div>
      <div class="btn btn-custom col-md-12 top60" ng-click="createMenu()">CREATE MENU</div>
   </div>
</div>