<div class="row">
  <p ng-cloak class="menu-nav col-md-6">{{menuTitle}}  > <span class="orange">{{title}}</span></p>
  <div class="col-md-4"></div>
  <div class="btn btn-danger col-md-2" ng-really-message="Are you sure you want to delete this section?" ng-really-click="removeSection()" ng-show="isEditing">Remove Section</div>
</div>

<div ng-hide="isEditing || !isFirst" ng-cloak class="alert-box">
  <h3>Great!</h3>
  <p>Now let's create a section within that menu.</p>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div class="top30">
      <h5>Section Title</h5>
      <input type="text" class="form-control left10" ng-model="section.name" autofocus>
    </div>
    <div class="top30">
       <h5>Description</h5>
       <textarea type="text" class="form-control left10" ng-model="section.description" rows="5"></textarea>
    </div>
    <div class="top30">
      <h5>Annotation</h5>
      <p class="italic left10">Make any notes on this section i.e. "Eating raw or uncooked seafood may make you sick"</p>
      <input type="text" class="form-control left10" ng-model="section.annotation">

    </div>  
    <div class="row top60">
       <h5 class="col-md-10 top5">Is there a price for the whole section?</h5>
       <div class="btn-group">
            <label class="btn btn-black" ng-model="hasExtraPricing" btn-radio="'No'" ng-click="clearPricing()">No</label>
            <label class="btn btn-black" ng-model="hasExtraPricing" btn-radio="'Yes'" ng-click="newExtraPricing()">Yes</label>
        </div>
    </div>
    <div ng-hide="hasExtraPricing=='No'">
       <div class="row">
          <p class="col-md-3">Price</p>
          <p class="col-md-5">Size or Description</p>
       </div>
       <div class='row' ng-repeat="pricing in section.section_prices">
          <input class="col-md-3" type="text" placeholder="$0.00" ng-model="pricing.price">
          <input class="col-md-5 left10" type="text" ng-model="pricing.description" ng-disabled="pricing.price == ''">
          <div ng-hide="$index==0" class="btn btn-danger col-md-1" ng-click="removePricing($index)">-</div>
       </div>
       <div class="row">
          <div class="btn btn-black col-md-8 top15" ng-click="addExtraPricing()">+ ADD NEW PRICING</div>
       </div>
    </div>
  </div>
</div>

<div class="row top60">
  <div class="col-md-1"></div>
  <div ng-hide="isEditing" class="col-md-10">
    <h5>What type of menu items will be in this section?</h5>
    <div class="row top30">
      <div class="col-md-4">
        <div class="template-cell" ng-model="selectedTemplate" btn-radio="'regular'" ng-class="{tempactive: selectedTemplate=='regular'}">
          <div class="temp-header">
            <p>NORMAL</p>
          </div>
          <div class="temp-desc">
            <p class="italic smallp">These items consist of a title, description and price.</p>
          </div>
          <div class="temp-ex">
            <p>Example:</p>
            <div class="row">
              <p class="col-md-9 smallp orange">Cheeseburger</p>
              <p class="col-md-3 smallp">$8.00</p>
            </div>
            <p class="xsmallp">Roasted half-chicken with rosemary skillet potatoes, grilled carrots and onion seasoned with pepper.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="template-cell" ng-model="selectedTemplate" btn-radio="'custom'" ng-class="{tempactive: selectedTemplate=='custom'}">
          <div class="temp-header">
            <p>CUSTOM</p>
          </div>
          <div class="temp-desc">
            <p class="italic smallp">These items are typically "Build your own." Customers choose from a list of options to make an order</p>
          </div>
          <div class="temp-ex">
            <p>Example:</p>
            <div class="row">
              <p class="col-md-9 smallp orange">Build a hamburger</p>
              <p class="col-md-3 smallp">$7.50</p>
            </div>
            <div class="row">
              <div class="col-md-4">
                <u class="xsmallp center">Bun</u>
                <p class="xsmallp center">White</p>
                <p class="xsmallp center">Wheat</p>
              </div>
              <div class="col-md-4">
                <u class="xsmallp center">Toppings</u>
                <p class="xsmallp center">Lettuce</p>
                <p class="xsmallp center">Tomato</p>
              </div>
              <div class="col-md-4">
                <u class="xsmallp center">Sauce</u>
                <p class="xsmallp center">Mayo</p>
                <p class="xsmallp center">Ketchup</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="template-cell" ng-model="selectedTemplate" btn-radio="'oneLiner'" ng-class="{tempactive: selectedTemplate=='oneLiner'}">
          <div class="temp-header">
            <p>ONE LINE</p>
          </div>
          <div class="temp-desc">
            <p class="italic smallp">These items are usually in a list and only have a title and a pricing</p>
          </div>
          <div class="temp-ex">
            <p>Example:</p>
            <div class="row">
              <div class="col-md-9">
                <p class="smallp marg0 orange">Collared Greens</p>
                <p class="smallp marg0 orange">Mashed Potatoes</p>
                <p class="smallp marg0 orange">Green Beans</p>

              </div>
              <div class="col-md-3">
                <p class="smallp marg0">$6</p>
                <p class="smallp marg0">$4</p>
                <p class="smallp marg0">$5</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>{{isEditing}}</p>
    </div>
  </div>
  <div ng-hide="isEditing" class="btn btn-custom col-md-8 top60" ng-click="createSection()">Create Section</div>
  <div ng-show="isEditing" class="btn btn-custom col-md-8 top60" ng-click="updateSection()">Update Section</div>
</div>  
