<h3>New User</h3>
<div class="top60">
   <h5>First Name</h5>
   <input type="text" class="form-control left10" ng-model="fName" autofocus>
   <h5>Last Name</h5>
   <input type="text" class="form-control left10" ng-model="lName">
   <h5>Email</h5>
   <input type="text" class="form-control left10" ng-model="email">
   <div class="row top30">
      <h5 class="col-md-2">Affiliated</h5>
      <div class="btn-group col-md-2">
         <div class="btn btn-black" ng-model="isAffiliated" btn-radio="true">YES</div>
         <div class="btn btn-black" ng-model="isAffiliated" btn-radio="false">NO</div>
      </div>
   </div>
   <div class="row top30">
      <h5 class="col-md-2">Gender</h5>
      <div class="btn-group col-md-3">
         <div class="btn btn-black" ng-model="isMale" btn-radio="true">Male</div>
         <div class="btn btn-black" ng-model="isMale" btn-radio="false">Female</div>
      </div>
   </div>
   <h5>Username</h5>
   <input type="text" class="form-control left10" ng-model="username">
   <h5>Password</h5>
   <input type="password" class="form-control left10" ng-model="password">
   <h5>Confirm Password</h5>
   <input type="password" class="form-control left10" ng-model="matchPassword">
   <div class="btn btn-black top30" ng-click="createUser()">Create User</div>
</div>
