<div>
   <h2>Looks Good!</h2>
   <h5>Now let's add items to your section.</h5>
</div>
<div>
   <div class="row">
      <h3 class="col-md-9">{{section.name}}</h3>
      <a class="btn btn-success col-md-3" href="#/sections">Edit Section Details</a>
   </div>
   <div class="row">
      <div class="col-md-9">
         <p>Description text sed ut perspiciatis unde omnis iste natus error accusantium doloremque laudantium, totam rem aperiam, eaque ab illo inventore veritatis et quasi architecto beatae vitae dicta. Nemo enim ipsam voluptatem quia.</p>
         <div>
            <p>Small - $5</p>
            <p>Small - $5</p>
            <p>Small - $5</p>
         </div>
      </div>
      <div class="col-md-3">
         <h4>Menu Item types</h4>
         <h5>{{activeTemplate}}</h5>
      </div>
   </div>
   <div class="row">
      <div ng-hide="isEditingItems" class="btn btn-success col-md-3" ng-click="editItems()">Edit Items</div>
      <div ng-show="isEditingItems" class="btn btn-success col-md-3" ng-click="previewItems()">Preview/Arrange Items</div>
      <div class="col-md-6"></div>
      <div class="btn btn-success col-md-3" ng-click="saveItems()">SAVE CHANGES</div>
   </div>
</div>
<div ng-hide="isEditingItems">
   <div class="row grid-row">
      <div class="col-md-4" ng-repeat="entry in section.entries">
         <div class="grid-col" data-drop="true" ng-model="section.entries" jqyoui-droppable="{index: {{$index}}}">
            <div class="drag-cell" data-drag="true" ng-model="section.entries" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},placeholder:false,animate:false}">
               <img class="grid-pic" ng-src="{{entry.image}}"></img>
               <div class="row">
                  <h5 class="col-md-8">{{entry.name}}</h5>
                  <p class="col-md-4">{{entry.price}}</p>
               </div>
               <p>{{entry.description}}</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div ng-show="isEditingItems">
   <div ng-show="activeTemplate=='custom'">
      <div flow-init="{singleFile:true}">
         <div class="drop-box" flow-drop flow-drag-enter="style={background: green}" flow-drag-leave="style={}" ng-style="style">
            <div class="btn" flow-btn>Upload File</div>
            <p>or drop them here</p>
         </div>
         <img ng-show="firstEntry.image" class="entry-thumb" ng-src="{{firstEntry.image}}">
         <img ng-hide="firstEntry.image" class="entry-thumb" flow-img="$flow.files[0]"/>
      </div>
   </div>
   <div class="row grid-row">
      <div class="col-md-4" ng-repeat="entry in section.entries" ng-hide="activeTemplate=='custom'">
         <div class="grid-flex" style="background:red">
            <h5>Item Name</h5>
            <input type="text" class="form-control" ng-model="entry.name">
            <div ng-hide="activeTemplate=='oneLiner'">
               <h5>Description</h5>
               <input type="text" class="form-control" ng-model="entry.description">
            </div>
            <h5>Price</h5>
            <input type="text" class="form-control" ng-model="entry.price">
            <div ng-hide="activeTemplate=='oneLiner'">
               <h5>Image</h5>
               <div flow-init="{singleFile:true}">
                  <div class="drop-box" flow-drop flow-drag-enter="style={background: green}" flow-drag-leave="style={}" ng-style="style">
                     <div class="btn" flow-btn>Upload File</div>
                     <p>or drop them here</p>
                  </div>
                  <img ng-show="entry.image" class="entry-thumb" ng-src="{{entry.image}}">
                  <img ng-hide="entry.image" class="entry-thumb" flow-img="$flow.files[0]"/>
               </div>
               <h5>Ratings</h5>
               <p>In addition to a star rating and comments, customers can rate other attributes of this item. Enter attributes you want to be rated. (Ex. Spiciness)</p>
               <div ng-repeat="slider in entry.slider_templates" class="row">
                  <h5 class="col-md-2">{{$index + 1}}</h5>
                  <input type="text" class="form-control col-md-8" ng-model="slider.category">
               </div>
               <div ng-hide="entry.slider_templates.length>=2" class="btn btn-success" ng-click="addSlider(entry)">+ add attribute rating</div>
            </div>
         </div>
      </div>
      <div ng-show="activeTemplate=='custom'">
         <div class="col-md-4 grid-flex" style="background:red">
            <h5>List Title</h5>
            <input type="text" class="form-control">
            <h5>List to Choose from</h5>
            <p>Seperate different items with a (,). Example: white, wheat, rye</p>
            <input type="text" class="form-control">
            <h5>Additional Price (if any)</h5>
            <input type="text" class="form-control">
         </div>
      </div>
      <div class="col-md-4">
         <div ng-hide="activeTemplate=='custom'" class="btn grid-flex add-button" ng-click="addEntry()" style="background:green">Add New Entry</div>
         <div ng-show="activeTemplate=='custom'" class="btn grid-flex add-button" ng-click="addSubsection()" style="background:green">Add New Subesection</div>
      </div>
   </div>
</div>
