<div>
   <h2>Looks Good!</h2>
   <h5>Now let's add items to your section.</h5>
</div>
<div>
   <div class="row">
      <h3 class="col-md-9">{{section.name}}</h3>
      <a class="btn btn-success col-md-3" href="#/sections">Edit Section Details</a>
   </div>
   <div class="row">
      <div class="col-md-9">
         <p>Description text sed ut perspiciatis unde omnis iste natus error accusantium doloremque laudantium, totam rem aperiam, eaque ab illo inventore veritatis et quasi architecto beatae vitae dicta. Nemo enim ipsam voluptatem quia.</p>
         <div>
            <p>Small - $5</p>
            <p>Small - $5</p>
            <p>Small - $5</p>
         </div>
      </div>
      <div class="col-md-3">
         <h4>Menu Item types</h4>
         <h5>{{activeTemplate}}</h5>
      </div>
   </div>
</div>
<div>
   <div class="row grid-row">
      <div class="col-md-4" ng-repeat="entry in section.entries">
         <div class="grid-col" data-drop="true" ng-model="section.entries" jqyoui-droppable="{index: {{$index}}}">
            <div class="drag-cell" data-drag="true" ng-model="section.entries" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},placeholder:false,animate:false}">
               <img class="grid-pic" ng-src="{{entry.image}}"></img>
               <div class="row">
                  <h5 class="col-md-8">{{entry.name}}</h5>
                  <p class="col-md-4">{{entry.price}}</p>
               </div>
               <p>{{entry.description}}</p>
            </div>
         </div>
      </div>
   </div>
</div>